{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<section class="profile">
    <div id="profile-view" class="profile-view">
        <form class="profile-form" method="post">
            {% csrf_token %}
            {{ profile }}
            <button id="submit-profile" type="submit">Post</button>
        </form>
    </div>
    <div class="follow-header"></div>
    <div id="follow-list" class="follow-list"></div>
    
</section>

<section class="content">
    <div id="content-view"></div>
    <div id="comments-view"></div>
</section>

<section class="feed">
    <div id="create-view" class="create-view"></div>
    <div id="posts-view" ></div>
    <div id="paginator"></div> 
</section> 

<script src="{% static 'network/component.js' %}"></script>

{% endblock %}