{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% if not user.is_authenticated %}
    <style>
        #followed-posts, #create-view, .login, .register, .tweet-actions {
            display: none;
        }
        .profile-link, .content-link {
            cursor: not-allowed;
            pointer-events: none;
        }
        .layout-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            max-width: 1400px;
        }

        .image-container {
            width: 70%;
            padding-right: 2rem;
        }

        .image-container img {
            width: 100%;
            max-width: 850px;
            height: auto;
        }

        .text-container {
            width: 30%;
            text-align: center;
        }
    </style>
    
        <div class="layout-container">
        <div class="content-wrapper">
            <div class="image-container">
                <img src="https://blush.design/api/download?shareUri=bgVWDnRiBHYZEul2&c=Skin_0%7E8d574d-0.1%7Ef7d3bb&w=800&h=800&fm=png" alt="Image">
            </div>
            <div class="text-container">
                <p class="text-lg font-medium leading-8 text-indigo-600/95">Yet another Social Network platform</p>
                <h1 class="mt-3 text-[2.5rem] font-bold leading-[3rem] tracking-tight text-black">Transform ideas into lasting impressions.</h1>
                <p class="mt-3 text-lg leading-relaxed text-slate-400">Chime in and be part of the dialogue that shapes our world!</p>
                <div class="mt-6 flex items-center justify-center gap-4">
                    <a href="{% url 'login' %}" class="transform rounded-md bg-indigo-600/95 px-5 py-3 font-medium text-white transition-colors hover:bg-indigo-700">Login</a>
                    <a href="{% url 'register' %}" class="transform rounded-md border border-slate-200 px-5 py-3 font-medium text-slate-900 transition-colors hover:bg-slate-50"> Register </a>
                </div>
            </div>
        </div>
    </div>
    
{% endif %}

<section class="profile">
    <div id="profile-view" class="profile-view"></div>
    <div class="follow-header"></div>
    <div id="follow-list" class="follow-list"></div>
</section>

<section class="feed">
    <br><div id="create-view" class="create-view"></div><br>
    <div id="posts-view" ></div>
    <div id="paginator" class="paginator"> </div> 
</section> 

<section class="content">
    <div id="content-view"></div>
    <div id="comments-view"></div>
</section>



<script src="{% static 'network/component.js' %}"></script>

{% endblock %}
