
{% block body %}
{% for post in posts %}
    <div class="post-entry">
        {{ post.created_at }} <b>{{ post.author.first_name }}</b> @{{ post.author.username }}: {{ post.content }} ({{ post.likes_count }} likes)<br>
        {% if post.media %}
            <img src="{{ post.media.url }}" alt="Post media">
        {% endif %}
    </div>
{% endfor %}

<ul class="inline-flex -space-x-px text-sm">
    {% if page.has_previous %}
    <li>
        <a href="?page={{ page.previous_page_number }}&scope={{ scope }}" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
    </li>
    <li>
        <a href="?page={{ page.previous_page_number }}&scope={{ scope }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page.previous_page_number }}</a>
    </li>
    {% endif %}
    <li>
        <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page.number }}</a>
    </li>
    {% if page.has_next %}
    <li>
        <a href="?page={{ page.next_page_number }}&scope={{ scope }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page.next_page_number }}</a>
    </li>
    <li>
        <a href="?page={{ page.next_page_number }}&scope={{ scope }}" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
    </li>
    {% endif %}
</ul>
<script src="path/to/your/javascript/file.js"></script>

{% endblock %}